<mat-sidenav-container class="sideBar">
    <mat-sidenav #sidenav class="example-sidenav">
        Jolly good!
    </mat-sidenav>
    <header class="mat-elevation-z2">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2">
                    <a routerLink="/"><img src="../assets/tripnama_logo.png" id="headerLogo"></a>
                </div>
                <div class="col-lg-6">
                    <mat-form-field id="searchBar" color="accent" floatPlaceholder="never" class="mat-elevation-z2">
                        <input matInput placeholder="Search for Itineries, Restaurants &amp; More" type="text">
                        <button mat-icon-button color="accent" matSuffix><mat-icon>search</mat-icon></button>
                    </mat-form-field>
                </div>
                <div class="col-lg-4">
                    <ul class="topMenu">
                        <li>

                            <a mat-raised-button color="accent" routerLink="make-my-plan">
                                <mat-icon>today</mat-icon>Make My Plan</a>

                        </li>
                        <li>
                            <div class="topUtil">
                                <a href="#">
                                    <mat-icon>people</mat-icon>
                                    <span>Account</span>
                                </a>
                            </div>
                        </li>
                        <li>
                            <a href="#">
                                <div class="topUtil">
                                    <mat-icon>help</mat-icon>
                                    <span>Help</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
</mat-sidenav-container>