<div class="main-content">
    <app-map></app-map>
    <div class="container-fluid main-home">
        <div class="col-lg-2">

        </div>
        <div class="col-lg-10 mat-elevation-z2" id="mainTabs">
            <md-tab-group [dynamicHeight]=true [selectedIndex]=0>
                <md-tab label="Trips">
                    <div class="col-lg-4 tripCard">
                        <md-card>
                            <md-card-header>
                                <div md-card-avatar class="tripCard-header"></div>
                                <md-card-title>Shiba Inu</md-card-title>
                                <md-card-subtitle>40 Days Trip</md-card-subtitle>
                            </md-card-header>

                            <img md-card-image src="https://static2.tripoto.com/media/filter/nl/img/128243/TripDocument/1433665302236.jpg">
                            <div class="trip-card-title">
                                <span>Hunza Valley</span>
                            </div>
                            <md-card-actions>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <span>
                                          <md-icon>remove_red_eye</md-icon>
                                        </span> 360
                                    </div>
                                    <div class="col-lg-4">
                                        <span>
                                            <md-icon>group</md-icon>
                                          </span> 20
                                    </div>
                                    <div class="col-lg-4">
                                        <span>
                                            <md-icon><i class="material-icons">star_rate</i></md-icon>
                                          </span> 4.5
                                    </div>
                                </div>
                            </md-card-actions>
                        </md-card>
                        <span class="card-bookmark"><md-icon><i class="material-icons" style="color:#BCAAA4;">bookmark</i></md-icon></span>
                    </div>
                    <div class="col-lg-4 tripCard">
                        <md-card>
                            <md-card-header>
                                <div md-card-avatar class="tripCard-header"></div>
                                <md-card-title>Shiba Inu</md-card-title>
                                <md-card-subtitle>3 Days Trip</md-card-subtitle>
                            </md-card-header>
                            <img md-card-image src="https://static2.tripoto.com/media/filter/nl/img/128243/TripDocument/1433665302236.jpg">
                            <div class="trip-card-title">
                                <span>Gilgit Pakistan</span>
                            </div>
                            <md-card-actions>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <span>
                                          <md-icon>remove_red_eye</md-icon>
                                        </span> 360
                                    </div>
                                    <div class="col-lg-4">
                                        <span>
                                            <md-icon>group</md-icon>
                                          </span> 20
                                    </div>
                                    <div class="col-lg-4">
                                        <span>
                                            <md-icon><i class="material-icons">star_rate</i></md-icon>
                                          </span> 4.5
                                    </div>
                                </div>
                            </md-card-actions>
                        </md-card>
                        <span class="card-bookmark"><md-icon><i class="material-icons">bookmark_border</i></md-icon></span>
                    </div>
                    <div class="col-lg-4 tripCard">
                        <md-card>
                            <md-card-header>
                                <div md-card-avatar class="tripCard-header"></div>
                                <md-card-title>Shiba Inu</md-card-title>
                                <md-card-subtitle>7 Days Trip</md-card-subtitle>
                            </md-card-header>
                            <img md-card-image src="https://static2.tripoto.com/media/filter/nl/img/128243/TripDocument/1433665302236.jpg">
                            <div class="trip-card-title">
                                <span>Azad Kashmir</span>
                            </div>
                            <md-card-actions>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <span>
                                          <md-icon>remove_red_eye</md-icon>
                                        </span> 360
                                    </div>
                                    <div class="col-lg-4">
                                        <span>
                                            <md-icon>group</md-icon>
                                          </span> 20
                                    </div>
                                    <div class="col-lg-4">
                                        <span>
                                            <md-icon><i class="material-icons">star_rate</i></md-icon>
                                          </span> 4.5
                                    </div>
                                </div>
                            </md-card-actions>
                        </md-card>
                        <span class="card-bookmark"><md-icon><i class="material-icons">bookmark_border</i></md-icon></span>
                    </div>
                </md-tab>
                <md-tab label="Q/A">Content 2</md-tab>
                <md-tab label="Reviews">Content 2</md-tab>
                <md-tab label="Blog">Content 2</md-tab>
            </md-tab-group>
        </div>
    </div>


    <div class="clearfix"></div>
</div>