<div class="main-content">
    <app-map></app-map>
    <div class="container-fluid main-home">
        <div class="col-lg-2">

        </div>
        <div class="col-lg-10 mat-elevation-z2" id="mainTabs">
            <mat-tab-group [dynamicHeight]=true [selectedIndex]=0>
                <mat-tab label="Trips">
                    <div class="col-lg-4 tripCard">
                        <mat-card>
                            <mat-card-header>
                                <div mat-card-avatar class="tripCard-header"></div>
                                <mat-card-title>Shiba Inu</mat-card-title>
                                <mat-card-subtitle>40 Days Trip</mat-card-subtitle>
                            </mat-card-header>

                            <img mat-card-image src="https://static2.tripoto.com/media/filter/nl/img/128243/TripDocument/1433665302236.jpg">
                            <div class="trip-card-title">
                                <span>Hunza Valley</span>
                            </div>
                            <mat-card-actions>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <span>
                                          <mat-icon>remove_red_eye</mat-icon>
                                        </span> 360
                                    </div>
                                    <div class="col-lg-4">
                                        <span>
                                            <mat-icon>group</mat-icon>
                                          </span> 20
                                    </div>
                                    <div class="col-lg-4">
                                        <span>
                                            <mat-icon><i class="material-icons">star_rate</i></mat-icon>
                                          </span> 4.5
                                    </div>
                                </div>
                            </mat-card-actions>
                        </mat-card>
                        <span class="card-bookmark"><mat-icon><i class="material-icons" style="color:#BCAAA4;">bookmark</i></mat-icon></span>
                    </div>
                    <div class="col-lg-4 tripCard">
                        <mat-card>
                            <mat-card-header>
                                <div mat-card-avatar class="tripCard-header"></div>
                                <mat-card-title>Shiba Inu</mat-card-title>
                                <mat-card-subtitle>3 Days Trip</mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image src="https://static2.tripoto.com/media/filter/nl/img/128243/TripDocument/1433665302236.jpg">
                            <div class="trip-card-title">
                                <span>Gilgit Pakistan</span>
                            </div>
                            <mat-card-actions>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <span>
                                          <mat-icon>remove_red_eye</mat-icon>
                                        </span> 360
                                    </div>
                                    <div class="col-lg-4">
                                        <span>
                                            <mat-icon>group</mat-icon>
                                          </span> 20
                                    </div>
                                    <div class="col-lg-4">
                                        <span>
                                            <mat-icon><i class="material-icons">star_rate</i></mat-icon>
                                          </span> 4.5
                                    </div>
                                </div>
                            </mat-card-actions>
                        </mat-card>
                        <span class="card-bookmark"><mat-icon><i class="material-icons">bookmark_border</i></mat-icon></span>
                    </div>
                    <div class="col-lg-4 tripCard">
                        <mat-card>
                            <mat-card-header>
                                <div mat-card-avatar class="tripCard-header"></div>
                                <mat-card-title>Shiba Inu</mat-card-title>
                                <mat-card-subtitle>7 Days Trip</mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image src="https://static2.tripoto.com/media/filter/nl/img/128243/TripDocument/1433665302236.jpg">
                            <div class="trip-card-title">
                                <span>Azad Kashmir</span>
                            </div>
                            <mat-card-actions>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <span>
                                          <mat-icon>remove_red_eye</mat-icon>
                                        </span> 360
                                    </div>
                                    <div class="col-lg-4">
                                        <span>
                                            <mat-icon>group</mat-icon>
                                          </span> 20
                                    </div>
                                    <div class="col-lg-4">
                                        <span>
                                            <mat-icon><i class="material-icons">star_rate</i></mat-icon>
                                          </span> 4.5
                                    </div>
                                </div>
                            </mat-card-actions>
                        </mat-card>
                        <span class="card-bookmark"><mat-icon><i class="material-icons">bookmark_border</i></mat-icon></span>
                    </div>
                </mat-tab>
                <mat-tab label="Q/A">Content 2</mat-tab>
                <mat-tab label="Reviews">Content 2</mat-tab>
                <mat-tab label="Blog">Content 2</mat-tab>
            </mat-tab-group>
        </div>
    </div>


    <div class="clearfix"></div>
</div>